body {
  font-size: 16px;
  color: black;
  background-color: #61122f;
}

.navbar-brand h1 {  /*menu name brand*/
	color: green;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
}

nav#header-nav {
	background-color: orange;
}

button.navbar-toggle,.navbar-header .icon-bar{
	border: 1px solid white;
}

button.navbar-toggle {
	background-color: green;
	 clear: both;
  margin-top: -30px;
}

button.navbar-toggle span {
	color: orange;
}

#main-content row {
	margin-top:20px;
	margin-bottom: 20px;
}

#chicken-tile, #beef-tile, #sushi-tile {
	background-color: green;
  	height: 200px;
 	width: 100%;
  	margin-bottom: 15px;
  	border: 2px solid #3F0C1F;
  	overflow: hidden;
}

/*#chicken-tile .menu-name, #beef-tile div, #sushi-tile div {*/	

body #main-content #home-tiles .menu-name { 
	text-align: center;
	font-size:1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}

#main-content h2 {
	text-align: center;
	font-weight: bold;
	margin-top:10px;
	margin-bottom: 10px;
}
